.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    .title {
        color: black;
        margin: 5%;
        font-size: 4em;
        font-weight: bold;
    }
    .searchBar {
        width: 60%;
        height: 4em;
        border: none;
        padding: 10px 15px;
        box-sizing: border-box;
        border-radius: 10px;
        outline: none;
        margin: 1em 5em 2em;
    }
    //responsive
    @media (max-width: 700px) {
        .title {
            margin: 20%;
            font-size: 2em;
        }
        .searchBar {
            height: 2.5em;
        }
    }
    .list-form {
        display: flex;
        flex-direction: column;
    }
}